In [4]:
#answer to the question number1
''' for loop is used when we know the number of times the loop is going to be executed and the start and 
end condition is known
and the while loop is used for a given condition'''

'the for loop is used when we know the number of times the loop is going to be executed and the start and \nend condition is known\nand the while loop is used for a given condition'

In [9]:
#answer to the question number 2
sum=0
for i in range(1,11,1):
	sum=sum+i
	print(sum)

1
3
6
10
15
21
28
36
45
55

In [8]:
#anser to the queation number 2
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
unit=int(input('please input the amount of electricity'))
if unit<=100:
    coe=unit*4.5
elif unit>100 and unit<=200:
    coe=450+(unit-100)*6
elif unit>200 and unit<=300:
    coe =1050+(unit-200)*10
elif unit>300:
    coe =2050+(unit-300)*20
print(coe)

please input the amount of electricity 310

2250

In [3]:
#Q4. Create a list of numbers from 1 to 100. Use for loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.
list_numbers=list(range(1,101,1))
empty_arr=[]

for i in list_numbers:
    cube_of_num=i*i*i
    if cube_of_num %5==0 or cube_of_num %4==0:
        empty_arr.append(cube_of_num)
print(empty_arr)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [1]:
#Q4. Create a list of numbers from 1 to 100. Use  while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.
list_numbers = list(range(1, 101, 1))
empty_arr = []
i = 0
while len(list_numbers) <= 100:
    cube_of_numbers = list_numbers[i] ** 3
    i=i+1
    if cube_of_numbers %4==0 or cube_of_numbers %5==0:
        print(cube_of_numbers)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

IndexError: list index out of range

In [ ]:
#Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"
listname=['a','e','i','o','u','A','E','I','O','U']
empty_arr=[]
for i in string:
    if i in listname :
        empty_arr.append(i)
print(len(empty_arr))